.paws-contact-us-form {
	h2.gform_title {
		display: none;
	}

	.gfield_label {
		color: #3b5991;
	}

	input {
		border-radius: 20px;
		border: 2px solid #c2cee5;
		height: 50px;
		color: #2e4879;
		font-weight: 500;
	}

	/* Need to override selector for font-size inside inputs */
	.gform_wrapper.gravity-theme input[type='text'] {
		font-size: 1rem;
	}

	/* Label helper text below input */
	.gform_wrapper.gravity-theme .ginput_complex label {
		font-size: 1rem;
		color: #213862;
	}

	.gform_wrapper.gravity-theme .gfield input.medium {
		width: 100%;
	}

	.gform_wrapper.gravity-theme .gform_fields {
		grid-row-gap: 1rem;
	}

	.gform_wrapper.gravity-theme .chosen-container a.chosen-single {
		border-radius: 20px;
		height: 50px;
		display: flex;
		align-items: center;
		background: none;
	}

	.gform_wrapper.gravity-theme
		select.medium.gfield_select
		+ div.chosen-container-single[style] {
		width: 100% !important;
		a {
			color: #2e4879 !important;
			font-size: 1rem;
			border: 2px solid #c2cee5;
			box-shadow: none;
		}
		a:hover {
			text-decoration: none !important;
		}
	}

	.gfield_description {
		color: #213862;
		font-size: 1rem;
	}

	.gform_wrapper.gravity-theme .chosen-container-single .chosen-drop {
		top: 110%;
		padding-top: 0;
		border: 2px solid #c2cee5;
		border-radius: 20px;
	}

	.gform_wrapper.gravity-theme
		.chosen-container-single
		.chosen-search
		input[type='text'] {
		border: 1px solid #c2cee5;
		border-radius: 20px;
		padding-left: 10px;
	}

	.gform_wrapper.gravity-theme .chosen-container .chosen-results li {
		color: #2e4879;
		font-weight: 500;
		transition: all 1s ease;
	}

	.gform_wrapper.gravity-theme
		.chosen-container
		.chosen-results
		li.highlighted {
		background-color: #eaeffa;
		background-image: none;
	}

	.gform_wrapper.gravity-theme
		.chosen-container-single
		.chosen-search
		input[type='text'] {
		padding: 0.5rem;
	}

	.gform_wrapper.gravity-theme .chosen-container-single .chosen-search {
		padding: 0.5rem !important;
	}
}
