.senior-cats {
	display: grid;
	gap: 1rem;
	@media (min-width: 1000px) {
		grid-template-columns: repeat(3, 1fr);
	}
}

.senior-cat {
	border: 3px solid #c2cee5;
	border-radius: 20px;
	padding: 2rem;
}
