.senior-cats {
	display: grid;
	gap: 1rem;
	@media (min-width: 500px) {
		grid-template-columns: repeat(auto-fit, minmax(min(250px, 100%), 1fr));
	}
}

.senior-cat {
	border: 3px solid #c2cee5;
	border-radius: 20px;
	padding: 2rem;
	justify-items: center;
}

.senior-cat__image {
	max-width: 100%;
	border-radius: 20px !important;
}
